In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect #to be able to look at the data

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June and
# 3. store the results in a list
results = []
results = engine.execute("SELECT tobs FROM Measurement where strftime('%m',date)= '06';").all()
# for record in results:
#     print(record)
    
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_df = pd.DataFrame(results,columns=['June Temps'])
June_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [5]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [6]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December and
# 7. store the results in a list
results = []
results = engine.execute("SELECT tobs FROM Measurement where strftime('%m',date)= '12';").all()

In [7]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_df = pd.DataFrame(results,columns=['December Temps'])
Dec_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [8]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [9]:
# For analysis, extract the number of distinct stations and the latitude and longitude of each

results = []
results = engine.execute("SELECT * FROM station ORDER BY elevation;").all()
Station_df = pd.DataFrame(results)
Station_df.head(9)

,id,station,name,latitude,longitude,elevation
0,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
1,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4
8,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6

In [10]:
# 2. Write a query that filters the Measurement table to retrieve the amount of rain for the month of June and
# 3. store the results in a list
results = []
results = engine.execute("SELECT prcp FROM Measurement where strftime('%m',date)= '06';").all()
# for record in results:
#     print(record)
    
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_df = pd.DataFrame(results,columns=['June Precipitation'])
June_df.head()
June_df.mean()

June Precipitation    0.13636
dtype: float64

In [11]:
# Get the average amount of rain for December
results = []
results = engine.execute("SELECT prcp FROM Measurement where strftime('%m',date)= '12';").all()
# for record in results:
#     print(record)
    
# 4. Create a DataFrame from the list of precipitation measurements for the month of June. 
Dec_df = pd.DataFrame(results,columns=['December Precipitation'])
# Dec_df.describe()
Dec_df.mean()

December Precipitation    0.216819
dtype: float64

In [12]:
# Double check time range of the data set
results = []
results = engine.execute("SELECT MAX(date) , MIN(date) FROM Measurement;").all()
print(results)

[('2017-08-23', '2010-01-01')]